<nav class="navbar">
    <div class="container navbar-content">
        <a href="/" class="navbar-brand">
            <img src="/img/logo.png" alt="Logo Apuntes Ya" class="navbar-logo">
            <span>Apuntes Ya</span>
        </a>
        <ul class="navbar-nav">
            <% if (user) { %>
                <li class="nav-item"><a href="/subir-apunte" class="nav-link">Subir Apunte</a></li>
                <li class="nav-item"><a href="/buscar" class="nav-link">Buscar</a></li>
                <li class="nav-item"><a href="/profile" class="nav-link">Mi Perfil</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link btn-nav">Cerrar Sesión</a></li>
            <% } else { %>
                <li class="nav-item"><a href="/login" class="nav-link btn-nav">Iniciar Sesión</a></li>
                <li class="nav-item"><a href="/register" class="nav-link btn-nav">Registrarse</a></li>
            <% } %>
        </ul>
    </div>
</nav>